<form class="form-horizontal">
  <div class="form-group">
    <label for="imputacion" class="col-sm-2 control-label">Imputacion</label>
    <div class="col-sm-4">
      <select require>
        <option value="">Seleccione una imputacion</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <label for="sorteo" class="col-sm-2 control-label">Sorteo</label>
    <div class="col-sm-4">
      <input type="text" name="sorteo"/>
    </div>
  </div>
  <div class="form-group">
    <label for="maquina" class="col-sm-2 control-label">Maquina</label>
    <div class="col-sm-4">
      <input type="text" name="maquina"/>
    </div>
  </div>
  <div class="form-group">
    <label for="cupon" class="col-sm-2 control-label">Cupon</label>
    <div class="col-sm-4">
      <input type="text" name="cupon"/>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Buscar</button>
    </div>
  </div>
  <div class="form-group">
    <label for="cupon" class="col-sm-2 control-label">Usuario</label>
    <div class="col-sm-4">
      <input type="text" name="cupon"/>
    </div>
  </div>
  <div class="form-group">
    <label for="cupon" class="col-sm-2 control-label">Fecha Imputacion</label>
    <div class="col-sm-4">
      <input type="text" name="fechaimputacion"/>
    </div>
  </div><div class="form-group">
    <label for="cupon" class="col-sm-2 control-label">Fecha Pago</label>
    <div class="col-sm-4">
      <input type="text" name="fechapago"/>
    </div>
  </div><div class="form-group">
    <label for="cupon" class="col-sm-2 control-label">IVA</label>
    <div class="col-sm-4">
      <input type="text" name="iva"/>
    </div>
  </div>
  <div class="form-group">
    <label for="cupon" class="col-sm-2 control-label">Retener</label>
    <div class="col-sm-4">
      <input type="text" name="retener"/>
    </div>
  </div>
  <div class="form-group">
    <label for="cupon" class="col-sm-2 control-label">Cuenta</label>
    <div class="col-sm-4">
      <input type="text" name="cuenta"/>
    </div>
  </div>
</form>
